img {
    border-radius: 400px 700px 400px 700px;
    float: left;
    z-index:2;
}
h1 {
    background-color: rgb(42, 165, 48);
    color: rgb(241, 245, 240);
}
body {
    text-align: left;
}
.item {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
}
h2 {
    color: rgb(92, 214, 54);
    position: relative;
    down: 100px;
}
